<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-glint</symbolicName>
    <version>1.1.1</version>
    <name>MERIS Glint Correction</name>
    <description>MERIS Glint Correction Tool</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <!--
        <![CDATA[
        <p>Initial Release 1.0
        </p>
        ]]>
        -->
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>flint-processor</module>
    </dependency>

    <categories>Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>correctAtmosphericGlint</id>
            <class>org.esa.beam.atmosphere.ui.GlintAction</class>
            <text>Glint Correction (MERIS/(A)ATSR)...</text>
            <shortDescr>Performs a glint correction on the selected Product</shortDescr>
            <longDescr>Performs a glint and atmospheric correction over water on the selected Product</longDescr>
            <mnemonic/>
            <parent>tools</parent>
            <helpID>merisGlint</helpID>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/meris-glint.hs</path>
        </helpSet>
    </extension>

</module>
