<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-glint</symbolicName>
    <version>1.2.4</version>
    <name>MERIS Glint Correction</name>

    <description>
        <![CDATA[
            <p>The MERIS/AATSR Glint Processor allows for the correction of the influence of the atmosphere and the
            specularly reflected solar radiation (sun glint) on radiance spectra measured with MERIS and/or AATSR.</p>

            <p>Algorithms: R. Doerffer from GKSS Research Centre, C. Brockmann from Brockmann Consult, J. Fischer et al. from Free University of Berlin</p>
            <p>Software: M.Peters/O.Danne of Brockmann Consult</p>

            <p>Documentation:</p>

            <ul>
                <li><a href="http://org.esa.beam.s3.amazonaws.com/docs/beam/beam-meris-glint/glint_agc_atbd.pdf">Glint Correction with MERIS (ATBD 1)</a></li>
                <li><a href="http://org.esa.beam.s3.amazonaws.com/docs/beam/beam-meris-glint/glint_flint_atbd.pdf">Glint Correction with MERIS and AATSR (ATBD 2)</a></li>
                <li><a href="http://org.esa.beam.s3.amazonaws.com/docs/beam/beam-meris-glint/glint_sum.pdf">Software User Manual (SUM)</a></li>
            </ul>
    ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes in version 1.2.4<br/>
        - [AGC-4] CoastColour L1P can not be used as source<br/>
        <p>Changes in version 1.2.3<br/>
        - [AGC-3] Integrate the flint processor into the glint processor<br/>
        - [AGC-2] Water leaving irradiance reflectances have wrong unit<br/>
        <p>Changes in version 1.2.2<br/>
        - [AGC-1] Altitude band is not copied for MER_FSG products if 'beam.envisat.usePixelGeoCoding' is set to true<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-meris-radiometry</module>
    </dependency>
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-meris-sdr</module>
    </dependency>
    <dependency>
        <module>beam-collocation</module>
    </dependency>

    <categories>Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>processing.thematicWater</parent>
            <id>correctAtmosphericGlint</id>
            <class>org.esa.beam.atmosphere.ui.GlintAction</class>
            <text>MERIS/(A)ATSR Glint Correction...</text>
            <shortDescr>Performs a glint and atmospheric correction over water on the selected Product</shortDescr>
            <helpId>merisGlint</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/meris-glint.hs</path>
        </helpSet>
    </extension>

</module>
